# Data Cleaning

Dataset Used: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset

In [ ]:
import pandas as pd
import kaggle
import zipfile
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [3]:
bikes= pd.read_csv('london_merged.csv')
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
bikes.shape
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
print(bikes.weather_code.value_counts())
print(bikes.season.value_counts())

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64
season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
new_cols_dict={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

In [13]:
bikes.rename(new_cols_dict,axis=1,inplace=True)
print(bikes)

                      time  count  temp_real_C  temp_feels_like_C  \
0      2015-01-04 00:00:00    182          3.0                2.0
1      2015-01-04 01:00:00    138          3.0                2.5
2      2015-01-04 02:00:00    134          2.5                2.5
3      2015-01-04 03:00:00     72          2.0                2.0
4      2015-01-04 04:00:00     47          2.0                0.0
...                    ...    ...          ...                ...
17409  2017-01-03 19:00:00   1042          5.0                1.0
17410  2017-01-03 20:00:00    541          5.0                1.0
17411  2017-01-03 21:00:00    337          5.5                1.5
17412  2017-01-03 22:00:00    224          5.5                1.5
17413  2017-01-03 23:00:00    139          5.0                1.0

       humidity_percent  wind_speed_kph  weather  is_holiday  is_weekend  \
0                  93.0             6.0      3.0         0.0         1.0
1                  93.0             5.0      1.0         0.0         1.0
2                  96.5             0.0      1.0         0.0         1.0
3                 100.0             0.0      1.0         0.0         1.0
4                  93.0             6.5      1.0         0.0         1.0
...                 ...             ...      ...         ...         ...
17409              81.0            19.0      3.0         0.0         0.0
17410              81.0            21.0      4.0         0.0         0.0
17411              78.5            24.0      4.0         0.0         0.0
17412              76.0            23.0      4.0         0.0         0.0
17413              76.0            22.0      2.0         0.0         0.0

       season
0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
...       ...
17409     3.0
17410     3.0
17411     3.0
17412     3.0
17413     3.0

[17414 rows x 10 columns]

In [15]:
bikes.humidity_percent=bikes.humidity_percent/100

In [17]:
weather_dict={
    '1.0':'Clear',
    '2.0':'Scattered Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

In [19]:
season_dict={
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

In [21]:
bikes['season'] = bikes['season'].astype(str)
bikes['weather'] = bikes['weather'].astype(str)

In [23]:
bikes['season'] = bikes['season'].map(season_dict)
bikes['weather'] = bikes['weather'].map(weather_dict)

In [27]:
print(bikes.head())

                  time  count  temp_real_C  temp_feels_like_C  \
0  2015-01-04 00:00:00    182          3.0                2.0
1  2015-01-04 01:00:00    138          3.0                2.5
2  2015-01-04 02:00:00    134          2.5                2.5
3  2015-01-04 03:00:00     72          2.0                2.0
4  2015-01-04 04:00:00     47          2.0                0.0

   humidity_percent  wind_speed_kph        weather  is_holiday  is_weekend  \
0             0.930             6.0  Broken Clouds         0.0         1.0
1             0.930             5.0          Clear         0.0         1.0
2             0.965             0.0          Clear         0.0         1.0
3             1.000             0.0          Clear         0.0         1.0
4             0.930             6.5          Clear         0.0         1.0

   season
0  winter
1  winter
2  winter
3  winter
4  winter

In [ ]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')