# EDA(Feature Engineering)

Dataset used: https://www.kaggle.com/datasets/rajeshrampure/zomato-dataset

In [67]:
import pandas as pd
import numpy as np

In [68]:
df=pd.read_csv('zomato.csv')

In [69]:
df.shape

(51717, 17)

In [70]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [72]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [73]:
# checking the count of unique categories in all object type columns
for column in df.select_dtypes (include='object').columns:
    print("Column:", column)
    print("Unique categories:",df[column].nunique())
    print(" ")

Column: url
Unique categories: 51717

Column: address
Unique categories: 11495

Column: name
Unique categories: 8792

Column: online_order
Unique categories: 2

Column: book_table
Unique categories: 2

Column: rate
Unique categories: 64

Column: phone
Unique categories: 14926

Column: location
Unique categories: 93

Column: rest_type
Unique categories: 93

Column: dish_liked
Unique categories: 5271

Column: cuisines
Unique categories: 2723

Column: approx_cost(for two people)
Unique categories: 70

Column: reviews_list
Unique categories: 22513

Column: menu_item
Unique categories: 9098

Column: listed_in(type)
Unique categories: 7

Column: listed_in(city)
Unique categories: 30

In [74]:
df.isnull().sum()
#only do treatment on independent variables, not on target variable, if target variables has null, no choice but to drop it

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [75]:
print('Shape before dropping the rows',df.shape)
df.dropna(subset=['rate'], inplace=True)
print('Shape after dropping the rows',df.shape)
df.isnull().sum()

Shape before dropping the rows (51717, 17)
Shape after dropping the rows (43942, 17)

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                               0
votes                              0
phone                            832
location                           0
rest_type                        151
dish_liked                     20333
cuisines                          11
approx_cost(for two people)      252
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [76]:
df['rate'].unique() # slash, number in qoute, spaces, new, hyphen

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [77]:
#remove unwanted characters and convert to numeric
df['rate'] = df['rate'].replace(['NEW','-'],np.nan)
df['rate'] = df['rate'].str.extract('(\d+\.\d+)') #extract numeric part #\d+ -> digit
df['rate']= pd.to_numeric(df['rate'], errors= 'coerce') # coerce-> convert everything that outside our expectation to nan

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/hf/1jf3jzj52tq67yj1qs_jlytm0000gn/T/ipykernel_10756/3910695335.py:3: SyntaxWarning: invalid escape sequence '\d'
  df['rate'] = df['rate'].str.extract('(\d+\.\d+)') #extract numeric part #\d+ -> digit

In [78]:
df['rate'].isna().sum()

2277

In [79]:
df.dropna(subset=['rate'], inplace=True)
df['rate'].isna().sum()

0

In [80]:
df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [81]:
df['rate'].dtype

dtype('float64')

In [82]:
df= df.rename(columns={'approx_cost(for two people)':'cost'})
df['cost'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '1,100', '1,600', '230',
       '130', '1,700', '1,350', '2,200', '1,400', '2,000', '1,800', nan,
       '1,900', '180', '330', '2,500', '2,100', '3,000', '2,800', '3,400',
       '50', '40', '1,250', '3,500', '4,000', '2,400', '2,600', '1,450',
       '70', '3,200', '240', '6,000', '1,050', '2,300', '4,100', '120',
       '5,000', '3,700', '1,650', '2,700', '4,500', '80'], dtype=object)

In [83]:
df['cost']= df['cost'].replace(",","",regex=True).astype(float)
df['cost']= df['cost'].fillna(df['cost'].median())
df['cost'].isna().sum()

0

# Feature engineering

In [85]:
#deriving new feature from given feature

In [86]:
print("Unique listed places", df['listed_in(city)'].nunique())
df['listed_in(city)'].unique()

Unique listed places 30

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [87]:
location_counts_to_region= {
    'Banashankari':'South',
    'Bannerghatta Road':'South',
    'Basavanagudi':'South',
    'Bellandur':'East',
    'Brigade Road':'Central', 
    'Brookefield':'East',
    'BTM':'South',
    'Church Street':'Central',
    'Electronic City':'South',
    'Frazer Town':'East',
    'HSR':'South',
    'Indiranagar':'East',
    'Jayanagar':'South',
    'JP Nagar':'South',
    'Kalyan Nagar':'North',
    'Kammanahalli':'East',
    'Koramangala 4th Block':'South',
    'Koramangala 5th Block':'South',
    'Koramangala 6th Block':'South',
    'Koramangala 7th Block':'South',
    'Lavelle Road':'Central',
    'Malleshwaram':'West',
    'Marathahalli':'East',
    'MG Road':'Central',
    'New BEL Road':'North',
    'Old Airport Road':'East',
    'Rajajinagar':'West',
    'Residency Road':'Central',
    'Sarjapur Road':'East', 
    'Whitefield':'East'
}

df['listed_in(city)']= df['listed_in(city)'].map(location_counts_to_region)
df['listed_in(city)'].value_counts()

listed_in(city)
South      20463
East       10442
Central     7357
West        1825
North       1578
Name: count, dtype: int64

In [88]:
print("Unique delivery locations",df['location'].nunique())
df['location'].value_counts()

Unique delivery locations 92

location
BTM                      3930
Koramangala 5th Block    2319
HSR                      2019
Indiranagar              1847
JP Nagar                 1717
                         ...
Yelahanka                   5
West Bangalore              3
Rajarajeshwari Nagar        2
Nagarbhavi                  1
Peenya                      1
Name: count, Length: 92, dtype: int64

In [89]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Bannerghatta Road', 'BTM', 'Kanakapura Road', 'Bommanahalli',
       'Electronic City', 'Sarjapur Road', 'Wilson Garden',
       'Shanti Nagar', 'Koramangala 5th Block', 'Richmond Road', 'HSR',
       'Koramangala 7th Block', 'Bellandur', 'Marathahalli', 'Whitefield',
       'East Bangalore', 'Old Airport Road', 'Indiranagar',
       'Koramangala 1st Block', 'Frazer Town', 'MG Road', 'Brigade Road',
       'Lavelle Road', 'Church Street', 'Ulsoor', 'Residency Road',
       'Shivajinagar', 'Infantry Road', 'St. Marks Road',
       'Cunningham Road', 'Race Course Road', 'Commercial Street',
       'Vasanth Nagar', 'Domlur', 'Koramangala 8th Block', 'Ejipura',
       'Jeevan Bhima Nagar', 'Old Madras Road', 'Seshadripuram',
       'Kammanahalli', 'Koramangala 6th Block', 'Majestic',
       'Langford Town', 'Central Bangalore', 'Brookefield',
       'ITPL Main Road, Whitefield', 'Varthur Main Road, Whitefield',
       'Koramangala 2nd Block', 'Koramangala 3rd Block',
       'Koramangala 4th Block', 'Koramangala', 'Hosur Road', 'RT Nagar',
       'Banaswadi', 'North Bangalore', 'Nagawara', 'Hennur',
       'Kalyan Nagar', 'HBR Layout', 'Rammurthy Nagar', 'Thippasandra',
       'CV Raman Nagar', 'Kaggadasapura', 'Kengeri', 'Sankey Road',
       'Malleshwaram', 'Sanjay Nagar', 'Sadashiv Nagar',
       'Basaveshwara Nagar', 'Rajajinagar', 'Yeshwantpur', 'New BEL Road',
       'West Bangalore', 'Magadi Road', 'Yelahanka', 'Sahakara Nagar',
       'Jalahalli', 'Hebbal', 'Nagarbhavi', 'Peenya', 'KR Puram'],
      dtype=object)

In [90]:
location_counts_to_region={
    'Banashankari':'South',
    'Basavanagudi':'South',
    'Mysore Road':'West',
    'Jayanagar':'South',
    'Kumaraswamy Layout':'South',
    'Rajarajeshwari Nagar':'South',
    'Vijay Nagar':'West',
    'Uttarahalli':'South',
    'JP Nagar':'South',
    'South Bangalore':'South',
    'City Market':'Central',
    'Bannerghatta Road':'South',
    'BTM':'South',
    'Kanakapura Road':'South',
    'Bommanahalli':'South',
    'Electronic City':'South',
    'Sarjapur Road':'East',
    'Wilson Garden':'South',
    'Shanti Nagar':'Central',
    'Koramangala 5th Block':'South',
    'Richmond Road':'Central',
    'HSR':'South',
    'Koramangala 7th Block':'South',
    'Bellandur':'East',
    'Marathahalli':'East', 
    'Whitefield':'East',
    'East Bangalore':'East',
    'Old Airport Road':'East', 
    'Indiranagar':'East',
    'Koramangala 1st Block':'South',
    'Frazer Town':'East',
    'MG Road':'Central',
    'Brigade Road':'Central',
    'Lavelle Road':'Central',
    'Church Street':'Central',
    'Ulsoor':'East',
    'Residency Road':'Central',
    'Shivajinagar':'Central',
    'Infantry Road':'Central',
    'St. Marks Road':'Central',
    'Cunningham Road':'Central',
    'Race Course Road':'Central',
    'Commercial Street':'Central',
    'Vasanth Nagar':'Central',
    'Domlur':'East',
    'Koramangala 8th Block':'South',
    'Ejipura':'East',
    'Jeevan Bhima Nagar':'East',
    'Old Madras Road':'East',
    'Seshadripuram':'Central',
    'Kammanahalli':'East',
    'Koramangala 6th Block':'South',
    'Majestic':'Central',
    'Langford Town':'Central',
    'Central Bangalore':'Central',
    'Brookefield':'East',
    'ITPL Main Road, Whitefield':'East',
    'Varthur Main Road, Whitefield':'East',
    'Koramangala 2nd Block':'South',
    'Koramangala 3rd Block':'South',
    'Koramangala 4th Block':'South',
    'Koramangala':'South',
    'Hosur Road':'South',
    'RT Nagar':'North',
    'Banaswadi':'East',
    'North Bangalore':'North',
    'Nagawara':'East',
    'Hennur':'East',
    'Kalyan Nagar':'East',
    'HBR Layout':'Central', 
    'Rammurthy Nagar':'East',
    'Thippasandra':'East',
    'CV Raman Nagar':'East', 
    'Kaggadasapura':'East',
    'Kengeri':'West',
    'Sankey Road':'Central',
    'Malleshwaram':'North',
    'Sanjay Nagar':'North',
    'Sadashiv Nagar':'North',
    'Basaveshwara Nagar':'West',
    'Rajajinagar':'West',
    'Yeshwantpur':'West',
    'New BEL Road':'North',
    'West Bangalore':'West',
    'Magadi Road':'West',
    'Yelahanka':'North',
    'Sahakara Nagar':'North',
    'Jalahalli':'North',
    'Hebbal':'North',
    'Nagarbhavi':'West',
    'Peenya':'West',
    'KR Puram':'East'
}

df['location']= df['location'].map(location_counts_to_region)

df['location'].value_counts()

location
South      20095
East       12478
Central     6855
North       1408
West         829
Name: count, dtype: int64

In [123]:
#checking crosstab values for matches
pd.crosstab(df['location'],df['listed_in(city)']) #location can affect rating, time taken, temp/freshness of food

listed_in(city)  Central  East  North  South  West
location
Central             5884   583     47    115   226
East                1271  9635    946    620     6
North                  7    32    538      0   831
South                195   187      1  19708     4
West                   0     5     46     20   758

In [127]:
#deriving new feature based on whether the delivery location and listed_in(city) match
df['same_locality']=(df['location']==df['listed_in(city)']).astype(int)

df['same_locality'].value_counts()

same_locality
1    36523
0     5142
Name: count, dtype: int64

In [129]:
df[['dish_liked','reviews_list','menu_item']].nunique()

dish_liked       5224
reviews_list    21272
menu_item        8271
dtype: int64

In [133]:
df['dish_liked'].value_counts(normalize=True)

dish_liked
Biryani                                                                                                                 0.007672
Friendly Staff                                                                                                          0.002898
Waffles                                                                                                                 0.002856
Chicken Biryani                                                                                                         0.002813
Masala Dosa                                                                                                             0.002387
                                                                                                                          ...
Banana Cake, Ginger Lemon Tea, Poha, Mango Shake, Masala Chai, Paneer Sandwich, Vada Pav                                0.000043
Tea, Coffee, Kadala Curry, Chicken Dum Biryani, Shawarma, Ghee Rice, Chicken Kebab                                      0.000043
Garlic Bread, Nachos, Pasta, Thin Crust Pizza, Hawaian Pizza, Manali Pizza                                              0.000043
Chicken Cheese Sandwich, Cheese Sandwiches, Chocolate Sandwich, Chocolate Sandwiches, French Fries, Teriyaki Chicken    0.000043
Healthy Breakfast, Caesar Salad, English Breakfast, Burgers, Enchiladas, Omelette, Egg Burger                           0.000043
Name: proportion, Length: 5224, dtype: float64

In [135]:
#drop unwanted columns
df.drop(['url','address','location','listed_in(city)','name','phone','dish_liked','reviews_list','menu_item'],axis=1,inplace=True)

In [137]:
df.shape[1]

9

In [139]:
df.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type', 'cuisines',
       'cost', 'listed_in(type)', 'same_locality'],
      dtype='object')

In [143]:
df=df.rename(columns={"listed_in(type)":"service_type"})
df.head(5)

,online_order,book_table,rate,votes,rest_type,cuisines,cost,service_type,same_locality
0,Yes,Yes,4.1,775,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Buffet,1
1,Yes,No,4.1,787,Casual Dining,"Chinese, North Indian, Thai",800.0,Buffet,1
2,Yes,No,3.8,918,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Buffet,1
3,No,No,3.7,88,Quick Bites,"South Indian, North Indian",300.0,Buffet,1
4,No,No,3.8,166,Casual Dining,"North Indian, Rajasthani",600.0,Buffet,1

In [145]:
df['rest_type'].nunique()

87

In [147]:
df['rest_type'].value_counts(normalize=True)

rest_type
Quick Bites                   0.335871
Casual Dining                 0.232657
Cafe                          0.082017
Dessert Parlor                0.044898
Delivery                      0.040466
                                ...
Food Court, Beverage Shop     0.000048
Dessert Parlor, Food Court    0.000048
Dessert Parlor, Kiosk         0.000048
Bakery, Beverage Shop         0.000024
Quick Bites, Kiosk            0.000024
Name: proportion, Length: 87, dtype: float64

In [149]:
rest_type_cum_percentage=df['rest_type'].value_counts(normalize=True).cumsum()
rest_type_cum_percentage

rest_type
Quick Bites                   0.335871
Casual Dining                 0.568528
Cafe                          0.650544
Dessert Parlor                0.695443
Delivery                      0.735909
                                ...
Food Court, Beverage Shop     0.999855
Dessert Parlor, Food Court    0.999904
Dessert Parlor, Kiosk         0.999952
Bakery, Beverage Shop         0.999976
Quick Bites, Kiosk            1.000000
Name: proportion, Length: 87, dtype: float64

In [151]:
#set the threshold for cumulative percentage
threshold=0.8

#indentify categories exceeding the threshold
top_categories= rest_type_cum_percentage[rest_type_cum_percentage<=threshold].index
top_categories

Index(['Quick Bites', 'Casual Dining', 'Cafe', 'Dessert Parlor', 'Delivery',
       'Takeaway, Delivery', 'Casual Dining, Bar'],
      dtype='object', name='rest_type')

In [155]:
df['rest_type']= df['rest_type'].where(df['rest_type'].isin(top_categories),'Other')
df['rest_type'].value_counts()

rest_type
Quick Bites           13944
Casual Dining          9659
Other                  8711
Cafe                   3405
Dessert Parlor         1864
Delivery               1680
Takeaway, Delivery     1292
Casual Dining, Bar     1110
Name: count, dtype: int64

In [157]:
df['cuisines'].nunique()

2383

In [159]:
df['cuisines'].value_counts()

cuisines
North Indian                                             2158
North Indian, Chinese                                    1980
South Indian                                             1234
Cafe                                                      642
Bakery, Desserts                                          615
                                                         ...
North Indian, Mughlai, Chinese, Seafood, South Indian       1
Chinese, Thai, Seafood, Malaysian                           1
North Indian, Chinese, Arabian, Kebab                       1
Turkish, Fast Food, Biryani, Chinese                        1
North Indian, Chinese, Arabian, Momos                       1
Name: count, Length: 2383, dtype: int64

In [169]:
df['cuisine_type']=df['cuisines'].apply(lambda x:
                                            'multi-speciality' if isinstance(x,str)
                                            and len(x.split(',')) >1 else 'core_speciality')

print(df[['cuisines','cuisine_type']].sample(5))

                                                cuisines      cuisine_type
36937  Biryani, North Indian, Chinese, Andhra, South ...  multi-speciality
32318                                   Pizza, Fast Food  multi-speciality
39598                     North Indian, Biryani, Arabian  multi-speciality
41840                                     Chinese, Momos  multi-speciality
28549                                       North Indian   core_speciality

In [173]:
#create a list by splitting cuisine strings
cuisines_list=[cuisine.strip() for cuisines in df['cuisines'].dropna()
               for cuisine in str(cuisines).split(',')]

top_cuisines_counts= pd.Series(cuisines_list).value_counts().head(10)

print(top_cuisines_counts)

North Indian    17406
Chinese         13005
South Indian     6394
Fast Food        6360
Continental      5245
Biryani          5071
Cafe             4828
Desserts         4537
Beverages        3873
Italian          3213
Name: count, dtype: int64

In [177]:
#create new column 'offer_special_cuisines' based on whether the cuisines are amonng the top 10
df['offers_popular_cuisines']=df['cuisines'].apply(
    lambda x: 'Yes' if any(cuisne in str(x) for cuisne in top_cuisines_counts.index)
    and pd.notna(x) else 'No')

df['offers_popular_cuisines'].value_counts()

offers_popular_cuisines
Yes    37344
No      4321
Name: count, dtype: int64

In [179]:
df.drop('cuisines', axis=1, inplace=True) #because it contains str

In [181]:
df.isnull().sum().sum()

0